<article class="module width_3_quarter" style="width:920px;">
  <header>
    <h3 class="tabs_involved"><%= I18n.t :listing_services %></h3>
  </header>

  <div class="tab_container">
	  <div id="tab1" class="tab_content">
      <table class="tablesorter" cellspacing="0">
        <thead>
          <tr>
            <th></th>
            <th><%= I18n.t :name %></th>
            <th><%= I18n.t :protocol %></th>
            <th><%= I18n.t :port %></th>
            <th><%= I18n.t :monitor %></th>
            <th><%= I18n.t :enabled %></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @services.each do |service| %>
          <tr>
            <td></td>
            <td><%= service.name %></td>
            <td><%= service.protocol.name %></td>
            <td><%= service.port %></td>
            <td><%= service.monitor %></td>
            <td><%= service.enabled %></td>
            <td><%= link_to image_tag("/assets/icn_folder.png", :alt => I18n.t(:show), :title => I18n.t(:show)), service %></td>
            <td><%= link_to image_tag("/assets/icn_edit_article.png", :alt => I18n.t(:edit), :title => I18n.t(:edit)), edit_service_path(service) %></td>
            <td><%= button_to I18n.t(:delete), { :action => "destroy", :id => service.id }, :confirm => I18n.t(:are_you_sure), :method => :delete %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br />

  <%= link_to I18n.t(:new_service), new_service_path %>
</article>
