            <div id="about">                

              <h1><%= I18n.t :about %></h1>
              <h2><%= Time.now.strftime("%Y")%> Dumuzzi</h2>

              <%= raw I18n.t :text_home_one %>

              <%= raw I18n.t :text_home_two %>

              <%= raw I18n.t :text_home_three %>

              <p><%= I18n.t :technologies_used %><p/>
              <p>- Ruby 1.9<p/>
              <p>- Rails 3.1</p>
              <p>- MysSQL2</p>
              <p>- Sass-rails</p>
              <p>- Coffee-rails</p>
              <p>- Uglifier</p>
              <p>- Sprockets</p>
              <p>- Jquery-rails</p>
              <p>- Therubyracer</p>
              <p>- Devise</p>
              <p>- Omniauth 0.3.0</p>
              <p>- UUID 2.3.4</p>
              <p>- Foreverb</p>
              <p>- Authlogic 3.1.0</p>
              <p>- Net-ping</p>
              <p>- Unicorn</p>
              <p>- Ubuntu</p>
              <p>- Gimp</p>
              <p>- Inkscape</p>
            </div>
