            <div id="terms">              
              <h1><%= I18n.t :terms %></h1>
              <h2><%= Time.now.strftime("%Y")%> Dumuzzi</h2>

              <p><%= I18n.t :term_index %></p>
              <p><%= I18n.t :term_uses %></p>

              <p><%= I18n.t :term_used_one %><p/>

              <p><%= I18n.t :term_used_two %><p/>

              <p><%= I18n.t :term_used_three %><p/>

              <p><%= I18n.t :term_used_four %><p/>

              <p><%= I18n.t :term_used_five %><p/>

              <p><%= I18n.t :term_used_six %><p/>

              <p><%= I18n.t :term_used_seven %><p/>

              <p><%= I18n.t :term_used_eight %><p/>

              <p><%= I18n.t :term_used_nine %><p/>

              <p><%= I18n.t :term_used_ten %><p/>

            </div>
