<div id="crud">
  <h3 class="tabs_involved"><%= I18n.t :listing_hosts %></h3>
  <div class="tab_container">
	  <div id="tab1" class="tab_content">
      <table class="tablesorter" cellspacing="0">
        <thead>
          <tr>
            <th><%= I18n.t :id %></th>
            <th><%= I18n.t :user %></th>
            <th><%= I18n.t :name %></th>
            <th><%= I18n.t :address %></th>
            <th><%= I18n.t :domain %></th>
            <th><%= I18n.t :status %></th>
            <th><%= I18n.t :monitor %></th>
            <th><%= I18n.t :enabled %></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @hosts.each do |host| %>
          <tr>
            <td><%= host.id[0,8] %></td>
            <td><%= host.user_id[0,8] %></td>
            <td><%= host.name %></td>
            <td><%= host.address %></td>
            <td><%= host.domain.name %></td>
            <td><%= host.status.name %></td>
            <td><%= host.monitor %></td>
            <td><%= host.enabled %></td>
            <td><%= link_to image_tag("/assets/icn_folder.png", :alt => I18n.t(:show), :title => I18n.t(:show), :border => 0), host %></td>
            <td><%= link_to image_tag("/assets/icn_edit_article.png", :alt => I18n.t(:edit), :title => I18n.t(:edit), :border => 0), edit_host_path(host) %></td>
            <td><%= button_to I18n.t(:delete), { :action => "destroy", :id => host.id }, :confirm => I18n.t(:are_you_sure), :method => :delete %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br />

  <%= link_to I18n.t(:new_host), new_host_path(:domain_id => @domain.id) %>
</div>
