<div class="user-form">
  <% if params[:action] == 'edit' %>
    <h1><%= I18n.t :edit_your_profile %></h1>
  <% else %>
    <h1><%= I18n.t :register %></h1>
  <% end %>

  <% if params[:action] == 'edit' %>
    <%= image_tag avatar_url(user) %>
  <% end %>

  <%= form_for(user) do |f| %>
    <p>
      <%= I18n.t :name %><br />
      <%= f.text_field :name %>
    </p>
    
    <p>
      <%= I18n.t :login %><br />
      <%= f.text_field :login %>
    </p>
    
    <p>
      <%= I18n.t :email %><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= I18n.t :password %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= I18n.t :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </p>
    <% if params[:action] == 'edit' %>
      <p><%= f.submit I18n.t :update %></p>
    <% else %>
      <p><%= f.submit I18n.t :create %></p>
    <% end %>
  <% end %>
</div>

<% if current_user != nil && current_user.id == user.id %>
  <div class="omniauth-connect">
    <%= render 'omniauth_connect', :authentications => authentications %>
  </div>
  <div class="clear"></div>
<% end %>
