        <div id="about">
          <%= image_tag("mascote.jpg", :width => 400, :height => 350) %>
          <div id="slider">
            <ul>
              <li>
                <h1>WHAT IS?</h1>
                <%= image_tag("radar2.png", :width => 150, :height => 150, :border => 0) %>
                <p>A utilização do serviço é totalmente gratuita e sem restrições, limitações e outra imposições, podendo utilizá-lo qualquer pessoa que queria monitorar um website.</p>
              </li>
              <li>
                <h1>ABOUT</h1>
                <%= image_tag("rally-on-rails-logo.png", :width => 280, :height => 150, :border => 0) %>
                <p>Dumuzzi nasceu na competição Rally on Rails, feito pela Equipe Cidadelas Jedis e é distribuído sob a licença CDDL e está aberto a colaborações. Fique a vontade para usar, contribuir, modificar eaperfeiçoar.</p>
              </li>
              <li>
                <h1>PROPOSAL</h1>
                <%= image_tag("rede.png", :width => 150, :height => 150, :border => 0) %>
                <p>Nossa proposta é um serviço simples de monitoramento que, inicialmente testa a disponibilidade e tempo de reposta destes serviços. Nesta página, listamos os termos para utilização do serviço e nossas limitações de responsabilidade.</p>
              </li>
            </ul>
          </div>
        </div>

        <div id="ranks">
          <div id="escalation">
            <h2><p>ONLINE</p></h2>
            <ul>
              <%= image_tag("robo.png", :width => 40, :height => 40, :border => 0) %>
              <li><a href="#">www.google.com.br</a></li>
              <%= image_tag("robo.png", :width => 40, :height => 40, :border => 0) %>
              <li><a href="#">www.google.com.br</a></li>
              <%= image_tag("robo.png", :width => 40, :height => 40, :border => 0) %>
              <li><a href="#">www.google.com.br</a></li>
              <%= image_tag("robo.png", :width => 40, :height => 40, :border => 0) %>
              <li><a href="#">www.google.com.br</a></li>
            </ul>
          </div>
          <div id="escalation">
            <h2><p>NEWEST</p></h2>
            <ul>
              <%= image_tag("robo.png", :width => 40, :height => 40, :border => 0) %>
              <li><a href="#">www.google.com.br</a></li>
              <%= image_tag("robo.png", :width => 40, :height => 40, :border => 0) %>
              <li><a href="#">www.google.com.br</a></li>
              <%= image_tag("robo.png", :width => 40, :height => 40, :border => 0) %>
              <li><a href="#">www.google.com.br</a></li>
              <%= image_tag("robo.png", :width => 40, :height => 40, :border => 0) %>
              <li><a href="#">www.google.com.br</a></li>
            </ul>
          </div>
          <div id="escalation">
            <h2><p>SOCIAL</p></h2>
            <ul>
              <%= image_tag("robo.png", :width => 40, :height => 40, :border => 0) %>
              <li><a href="#">www.google.com.br</a></li>
              <%= image_tag("robo.png", :width => 40, :height => 40, :border => 0) %>
              <li><a href="#">www.google.com.br</a></li>
              <%= image_tag("robo.png", :width => 40, :height => 40, :border => 0) %>
              <li><a href="#">www.google.com.br</a></li>
              <%= image_tag("robo.png", :width => 40, :height => 40, :border => 0) %>
              <li><a href="#">www.google.com.br</a></li>
            </ul>
          </div>
        </div>
