        <div id="about">
          <h1><%= I18n.t :title_home_one %></h1>
          <%#= image_tag("radar2.png", :width => 150, :height => 150, :border => 0) %>
          <%= raw I18n.t :text_home_one %>
          
          <h1><%= I18n.t :title_home_two %></h1>
          <center><%= image_tag("rally-on-rails-logo.png", :width => 280, :height => 150, :border => 0) %></center>
          <%= raw I18n.t :text_home_two %>
 
          <h1><%= I18n.t :title_home_three %></h1>      
          <%= raw I18n.t :text_home_three %>   

          <div id="social">
            <!--<h1>SOCIAL</h1>-->
            <iframe src="http://www.facebook.com/plugins/like.php?app_id=132542963506807&amp;href=http%3A%2F%2Frally.dumuzzi.com%2F&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:55px; height:90px;" allowTransparency="true"></iframe>
          </div>
        </div>
        
