<%= form_for(@domain) do |f| %>
<div class="module_content">
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h4 class='alert_error'><%= pluralize(@domain.errors.count, "error") %> prohibited this category from being saved:</h4>

      <ul>
      <% @domain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <label><b><%= I18n.t :name %></b></label><br />
    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <label><b><%= I18n.t :description %></b></label><br />
    <%= f.text_area :description, :rows => 5 %>
  </fieldset>
  <fieldset>
    <label><b><%= I18n.t :allow_comments %></b></label>
    <%= f.check_box :allow_comments %>
  </fieldset>
  <fieldset>
    <label><b><%= I18n.t :send_alert %></b></label>
    <%= f.check_box :send_alert %>
  </fieldset>
  <fieldset>
    <label><b><%= I18n.t :share %></b></label>
    <%= f.check_box :share %>
  </fieldset>
  
</div>
  <div class="submit_link">
    <% if params[:action] == 'new' %>
      <%= f.submit I18n.t(:add_domain) %>
    <% else %>
      <%= f.submit I18n.t(:edit_domain) %>
    <% end %>
    <%= submit_tag(I18n.t(:reset), { :name => 'reset', :type => "reset" }) %>
    <%= link_to image_tag("/assets/icn_jump_back.png", :alt => I18n.t(:back), :title => I18n.t(:back), :border => 0), domains_path %>
    <% if params[:action] == 'edit' %>
      <%= link_to image_tag("/assets/icn_folder.png", :alt => I18n.t(:show), :title => I18n.t(:show), :border => 0), @domain %>
    <% end %>
  </div>
<% end %>
