<div id="crud">
  <h3 class="tabs_involved"><%= I18n.t :my_domains %></h3>
  <div class="tab_container">
	  <div id="tab1" class="tab_content">
      <table class="tablesorter" cellspacing="0">
        <thead>
          <tr>
            <th><%= I18n.t :name %></th>
            <th><%= I18n.t :address %></th>
            <th><%= I18n.t :status %></th>
            <th><%= I18n.t :monitor %></th>
            <th><%= I18n.t :enabled %></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @domains.each do |domain| %>
          <tr>
            <td><%= domain.name %></td>
            <td><%= domain.address %></td>
            <td><%= domain.status.name unless domain.status.nil? %></td>
            <td><%= show_icon domain.monitor, "enabled", "disabled" %></td>
            <td><%= show_icon domain.enabled, "enabled", "disabled" %></td>
            <td><%= link_to image_tag("icn_folder.png", :alt => I18n.t(:show), :title => I18n.t(:show), :border => 0), domain %></td>
            <td><%= link_to image_tag("icn_edit_article.png", :alt => I18n.t(:edit), :title => I18n.t(:edit), :border => 0), edit_domain_path(domain) %></td>
            <td><%= button_to I18n.t(:delete), { :action => "destroy", :id => domain.id }, :confirm => I18n.t(:are_you_sure), :method => :delete %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br />

  <%= link_to I18n.t(:add_domain), new_domain_path %>
</div>
