  <div id="show">
	  <h3><%= I18n.t :domain %> <%= @domain.name %> <%= link_to image_tag("icn_edit_article.png", :alt => I18n.t(:edit), :title => I18n.t(:edit), :border => 0), edit_domain_path(@domain) %>  <%= link_to image_tag("icn_jump_back.png", :alt => I18n.t(:back), :title => I18n.t(:back), :border => 0), domains_path %></h3>
    <div class="tab_container">
		  <div id="tab1" class="tab_content">
			  <table class="tablesorter" cellspacing="0">
          <tr> 
            <td><b><%= I18n.t :name %></b></th>
            <td><%= @domain.name %></td>            
			    </tr>
          <tr> 
            <td><b><%= I18n.t :address %></b></th>
            <td><%= @domain.address %></td>            
			    </tr>
          <tr> 
            <td><b><%= I18n.t :description %></b></th>
            <td><%= @domain.description %></td>            
			    </tr>
          <tr> 
            <td><b><%= I18n.t :allow_comments %></b></th>
            <td><%= show_icon @domain.allow_comments, "enabled", "disabled" %></td>            
			    </tr>
          <tr> 
            <td><b><%= I18n.t :send_alert %></b></th>
            <td><%= show_icon @domain.send_alert, "enabled", "disabled" %></td>            
			    </tr>
          <tr> 
            <td><b><%= I18n.t :share %></b></th>
            <td><%= show_icon @domain.share, "enabled", "disabled" %></td>            
			    </tr>
          <tr> 
            <td><b><%= I18n.t :status %></b></th>
            <td><%= @domain.status.name unless @domain.status.nil? %></td>
			    </tr>
          <tr> 
            <td><b><%= I18n.t :monitor %></b></th>
            <td><%= show_icon @domain.monitor, "enabled", "disabled" %></td>            
			    </tr>
          <tr> 
            <td><b><%= I18n.t :enabled %></b></th>
            <td><%= show_icon @domain.enabled, "enabled", "disabled" %></td>            
			    </tr>
        </table>
      </div>
    </div>
  </div>
  <%= render :partial => 'hosts/index' %>
