<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Warning Mail</title>
</head>

<body>
  
  <div class="header">
    <h2>Warning Mail</h2>
  </div>
  
  <div class="content">

    <div class="dinamic">
      <h3><%= I18n.t :event_description  %></h3>
      <p><%= simple_format(@warning.description) %></p>
      <h3><%= I18n.t :host_detail %></h3>
      <p>Hostname: <%= @warning.host.hostname %></p>
      <p>Service: <%= @warning.service.name %></p>
      <p>Status: <%= @warning.host.status.name %></p>
    </div>

    <div class="static">

    </div>
  
  </div>

  <div class="footer">
    <p>&nbsp;</p> 
    <h3>Dumuzzi Monitor</h3>
    <p>Dumuzzi Monitor, your free choice to services monitoring</p>
    <p>Technology by <%= link_to( '@KoshTech','http://twitter.com/KoshTech' ) %></p>
  </div>
  
</body>
</html>

