<article class="module width_3_quarter" style="width:920px;">
  <header>
    <h3 class="tabs_involved"><%= I18n.t :listing_protocols %></h3>
  </header>

  <div class="tab_container">
	  <div id="tab1" class="tab_content">
      <table class="tablesorter" cellspacing="0">
        <thead>
          <tr>
            <th></th>
            <th><%= I18n.t :id %></th>
            <th><%= I18n.t :name %></th>
            <th><%= I18n.t :enabled %></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @protocols.each do |protocol| %>
          <tr>
            <td></td>
            <td><%= protocol.id %></td>
            <td><%= protocol.name %></td>
            <td><%= protocol.enabled %></td>
            <td><%= link_to image_tag("/assets/icn_folder.png", :alt => I18n.t(:show), :title => I18n.t(:show)), protocol %></td>
            <td><%= link_to image_tag("/assets/icn_edit_article.png", :alt => I18n.t(:edit), :title => I18n.t(:edit)), edit_protocol_path(protocol) %></td>
            <td><%= button_to I18n.t(:delete), { :action => "destroy", :id => protocol.id }, :confirm => I18n.t(:are_you_sure), :method => :delete %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br />

  <%= link_to I18n.t(:new_protocol), new_protocol_path %>
</article>
