<%= form_for(@hosts_service) do |f| %>
<div class="module_content">
  <% if @hosts_service.errors.any? %>
    <div id="error_explanation">
      <h4 class='alert_error'><%= pluralize(@hosts_service.errors.count, "error") %> prohibited this category from being saved:</h4>

      <ul>
      <% @hosts_service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <label><b><%= I18n.t :host %></b></label>
    <%= f.collection_select(:host_id, @hosts, :id, :name, {:prompt => 'Selecione'} ) %>
  </fieldset>
  <fieldset>
    <label><b><%= I18n.t :service %></b></label>
    <%= f.collection_select(:service_id, @services, :id, :name, {:prompt => 'Selecione'} ) %>
  </fieldset>
  <fieldset>

    <label><b><%= I18n.t :interval_id %></b></label>
    <%= f.text_field :interval_id %><br /><br /><br /><br />

    <label><b><%= I18n.t :description %></b></label>
    <%= f.text_area :description, :rows => 5 %>
  </fieldset>
  <fieldset>
    <label><b><%= I18n.t :monitor %></b></label>
    <%= f.check_box :monitor %><br /><br /><br /><br />
  </fieldset>
  <fieldset>
    <label><b><%= I18n.t :enabled %></b></label>
    <%= f.check_box :enabled %><br /><br /><br /><br />
  </fieldset>
  
</div>
<footer>
  <div class="submit_link">
    <%= f.submit %>
    <input type="reset" value="Reset">
    <%= link_to image_tag("/assets/icn_jump_back.png", :alt => I18n.t(:back), :title => I18n.t(:back), :border => 0), hosts_services_path %>
    <% if params[:action] == 'edit' %>
      <%= link_to image_tag("/assets/icn_folder.png", :alt => I18n.t(:show), :title => I18n.t(:show), :border => 0), @hosts_service %>
    <% end %>
  </div>
</footer>
<% end %>
