<div id="crud" >
  <h3 class="tabs_involved"><%= I18n.t :listing_hosts_services %> <%= @host.hostname %></h3>
  <div class="tab_container">
	  <div id="tab1" class="tab_content">
      <table class="tablesorter" cellspacing="0">
        <thead>
          <tr>
            <th><%= I18n.t :service %></th>
            <th><%= I18n.t :interval %></th>
            <th><%= I18n.t :status %></th>
            <th><%= I18n.t :monitor %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @hosts_service.each do |hosts_service| %>
          <tr>
            <td><%= link_to hosts_service.service.name, hosts_service %></td>
            <td><%= link_to hosts_service.interval.name, hosts_service %></td>
            <td><%= hosts_service.status.name %></td>
            <td><%= show_icon hosts_service.monitor, "enabled", "disabled" %></td>
            <td><%= link_to image_tag("/assets/icn_edit_article.png", :alt => I18n.t(:edit), :title => I18n.t(:edit), :border => 0), edit_hosts_service_path(hosts_service) %></td>
            <td><%= button_to I18n.t(:delete), { :action => "destroy", :id => hosts_service.id }, :confirm => I18n.t(:are_you_sure), :method => :delete %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br />

  <%= link_to I18n.t(:add_hosts_service), new_hosts_service_path(:host_id => @host.id) %>
</div>
