<div id="new">
  <h3><%= I18n.t :editing_hosts_service %> <%= @hosts_service.service.name unless @hosts_service.service.nil?  %> <%= I18n.t :of_host %> <%= @hosts_service.host.name unless @hosts_service.host.nil? %></h3>
  <%= render 'form' %>
</div>
