  <%= outgoing_menssage %>
  <article class="module width_full">
	  <header><h3><%= I18n.t :showing %></h3></header>
    <div class="tab_container">
		  <div id="tab1" class="tab_content">
			  <table class="tablesorter" cellspacing="0">
          <tr> 
            <td><b><%= I18n.t :host %></b></th>
            <td><%= @hosts_service.host.name %></td>            
			    </tr>
          <tr> 
            <td><b><%= I18n.t :service %></b></th>
            <td><%= @hosts_service.service.name %></td>            
			    </tr>
          <tr> 
            <td><b><%= I18n.t :interval %></b></th>
            <td><%= @hosts_service.interval_id %></td>            
			    </tr>
          <tr> 
            <td><b><%= I18n.t :description %></b></th>
            <td><%= @hosts_service.description %></td>            
			    </tr>
          <tr> 
            <td><b><%= I18n.t :monitor %></b></th>
            <td><%= @hosts_service.monitor %></td>            
			    </tr>
          <tr> 
            <td><b><%= I18n.t :enabled %></b></th>
            <td><%= @hosts_service.enabled %></td>            
			    </tr>
        </table>
      </div>
    </div>

    <footer>
      <div class="submit_link">
        <%= link_to image_tag("/assets/icn_edit_article.png", :alt => I18n.t(:edit), :title => I18n.t(:edit), :border => 0), edit_hosts_service_path(@hosts_service) %> 
        <%= link_to image_tag("/assets/icn_jump_back.png", :alt => I18n.t(:back), :title => I18n.t(:back), :border => 0), hosts_services_path %>
      </div>
    </footer>
  </article>
