<%= form_for(@queued) do |f| %>
<div class="module_content">
  <% if @queued.errors.any? %>
    <div id="error_explanation">
      <h4 class='alert_error'><%= pluralize(@queued.errors.count, "error") %> prohibited this category from being saved:</h4>

      <ul>
      <% @queued.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
</div>
<footer>
  <div class="submit_link">
    <% if params[:action] == 'new' %>
      <%= f.submit I18n.t(:add_queued) %>
    <% else %>
      <%= f.submit I18n.t(:edit_queued) %>
    <% end %>
    <%= submit_tag(I18n.t(:reset), { :name => 'reset', :type => "reset" }) %>
    <%= link_to image_tag("/assets/icn_jump_back.png", :alt => I18n.t(:back), :title => I18n.t(:back)), queueds_path %>
    <% if params[:action] == 'edit' %>
      <%= link_to image_tag("/assets/icn_folder.png", :alt => I18n.t(:show), :title => I18n.t(:show)), @queued %>
    <% end %>
  </div>
</footer>
<% end %>
