<div class="user-form">
  <h1><%= I18n.t :signin %></h1>
  <%= form_for @user_session do |f| %>

    <p>
      <%= I18n.t :login %><br />
      <%= f.text_field :login %>
    </p>
    <p>
      <%= I18n.t :password %><br />
      <%= f.password_field :password %>
    </p>
    <p><%= check_box :user_session, :remember_me %> <%= I18n.t :remember_me %></p>
    <p><%= f.submit I18n.t :signin %></p>
  <% end %>
</div>

<div class="omniauth-connect">
  <h1><%= I18n.t :or %></h1>
  <h3><%= I18n.t :sign_in_with %></h3>
  <% ["twitter"].each do |provider| %>
    <%= link_to image_tag("#{provider}_64.png"), "/auth/#{provider}" %>
  <% end %>
</div>

<div class="clear"></div>
