<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
	  <title>Dumuzzi</title>
	  <meta name="keywords" content="layout css3 javascript jquery html5"/>
    <meta name="description" content="Este é um layout base."/>
	  <!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />-->
    <%= stylesheet_link_tag    "layout.css.scss.erb" %>
	</head>
  <body>
    <div id="container">
      <header>
        <h2>DUMUZZI</h2>
        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/terms">TERMS</a></li>
            <li><a href="/about">ABOUT</a></li>
          </ul>
        </nav>
      </header>
      
      <section>
        <ul>
        <% if @authentications %>
          <%= image_tag("user.png", :width => 60, :height => 60, :border => 0, :alt => "LOGADO", :title => "LOGADO") %>
          <li><a href="/domains">Domain</a></li>
        <% else %>
          <li><a href="/auth/twitter" ><%= image_tag("twitter.png", :width => 60, :height => 60, :border => 0, :alt => "FAÇA LOGIN", :title => "FAÇA LOGIN") %></a></li>
        <% end %>
        </ul>
        <article>
          <%= yield %>
        </article>
        
        <aside>
          <div id="social">
            <h1>SOCIAL</h1>
            <iframe src="http://www.facebook.com/plugins/like.php?app_id=132542963506807&amp;href=http%3A%2F%2Frally.dumuzzi.com%2F&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:55px; height:90px;" allowTransparency="true"></iframe>
          </div>
          <% unless @hosts.nil? %>
          <div id="online">
            <h1>ONLINE</h1>
            <ul>
              <% @hosts.each do |host| %>
                <li><a href="http://<%= host.hostname %>"><%= host.hostname %></a></li>
              <% end %>
            </ul>
          </div>
          <% end %>
          <% unless @new_hosts.nil? %>
          <div id="newest">
            <h1>NEWEST</h1>
            <ul>
              <% @new_hosts.each do |host| %>
                <li><a href="http://<%= host.hostname %>"><%= host.hostname %></a></li>
              <% end %>
            </ul>
          </div>
          <% end %>
          <% unless @testers.nil? %>
          <div id="newest">
            <h1>Testers</h1>
            <ul>
              <% @testers.each do |tester| %>
                <li><a href="http://<%= tester.hostname %>"><%= tester.hostname %></a></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </aside>
      </section>
      
      <footer>
        <b>Atribuido a licença Open Source Initiative OSI - Common Development and Distribution License (CDDL-1.0)</b>
      </footer>
    </div>
  </body>
</html>  
